<div class="row">
  <app-filter-form></app-filter-form>
</div>
<mat-form-field class="col-md-4 col-xs-12 offset-md-4">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche">
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="sélectionner des colonnes"  multiple #cols (selectionChange)="selectCols(cols)">
    <mat-option *ngFor="let column of columnsSelect" [value]="column.name" >{{column.name}}</mat-option>
  </mat-select>
</mat-form-field>

<table mat-table  [dataSource]="dataSource" matSort  class="mat-elevation-z8">

  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Code. </th>
    <td mat-cell *matCellDef="let element"> {{element.PO_CODE}} </td>
  </ng-container>

  <ng-container matColumnDef="intitule">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Intitule </th>
    <td mat-cell *matCellDef="let element"> {{element.JOB_NAME}} </td>
  </ng-container>

  <ng-container matColumnDef="service">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Service </th>
    <td mat-cell *matCellDef="let element"> {{element.service}} </td>
  </ng-container>

  <ng-container matColumnDef="language_paire">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Language paire </th>
    <td mat-cell *matCellDef="let element"> {{element.language_paire}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <ng-container matColumnDef="prix">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Prix </th>
    <td mat-cell *matCellDef="let element"> {{element.prix}} </td>
  </ng-container>

  <ng-container matColumnDef="tarif">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tarif </th>
    <td mat-cell *matCellDef="let element"> {{element.tarif}} </td>
  </ng-container>

  <ng-container matColumnDef="volume">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Volume </th>
    <td mat-cell *matCellDef="let element"> {{element.volume}} </td>
  </ng-container>

  <ng-container matColumnDef="date_echeance">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date d'echeance </th>
    <td mat-cell *matCellDef="let element"> {{element.date_echeance}} </td>
  </ng-container>

  <ng-container matColumnDef="date_creation">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date creation </th>
    <td mat-cell *matCellDef="let element"> {{element.date_creation}} </td>
  </ng-container>

  <ng-container matColumnDef="col1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> col 1 </th>
    <td mat-cell *matCellDef="let element"> {{element.volume}} </td>
  </ng-container>

  <ng-container matColumnDef="col2">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> col 2 </th>
    <td mat-cell *matCellDef="let element"> {{element.date_creation}} </td>
  </ng-container>

  <ng-container matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field>
        <mat-select placeholder="Actions">
          <mat-option (click)="consulterDialog()">
            <mat-icon>comment</mat-icon> Consulter le projet
          </mat-option>
          <mat-option (click)="facturerDialog()">
            <mat-icon >check</mat-icon> Facturer
          </mat-option>
          <mat-option (click)="modifierDialog()">
            <mat-icon >edit</mat-icon> Modifier
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="nav-container">
  <mat-paginator [pageSizeOptions]="[10, 15, 20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
