<form #form="ngForm">

  <mat-form-field >
    <mat-select placeholder="Filiale" name="filiale" [(ngModel)]="form.filiale" (ngModelChange)="filterValueChanged('filiale', $event)">
      <mat-option *ngFor="let filiale of filiales" [value]="filiale" >
        {{filiale}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Compte" name="compte" [(ngModel)]="form.compte" (ngModelChange)="filterValueChanged('compte', $event)">
      <mat-option *ngFor="let filiale of ['compte1', 'compte2', 'compte3']" [value]="filiale">
        {{filiale}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Projet" name="projet" [(ngModel)]="form.projet" (ngModelChange)="filterValueChanged('projet', $event)">
      <mat-option *ngFor="let filiale of ['projet1', 'projet2', 'projet3']" [value]="filiale">
        {{filiale}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker1" placeholder="Date debut" name="dateDebut" [(ngModel)]="form.dateDebut" (ngModelChange)="filterValueChanged('dateDebut', $event)">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker2" placeholder="Date fin" name="dateFin" [(ngModel)]="form.dateFin" (ngModelChange)="filterValueChanged('dateFin', $event)">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="cleanFilter()">
    <mat-icon>refresh</mat-icon>
  </button>

</form>
