table {
  width:90%;
  margin:auto;
  th {
    font-weight: bold;
    background: #3F51B5;
    color: #FFFFFF;
    font-size: .8em;
  }
  td {
    width: 10%;
  }
}
#addfm {
  position: absolute;
  right:5%;
  bottom: 5%;
}
.nav-container { width: 90%; margin: auto }
