<div class="container" id="content">
<div id="contentToConvert">

  <div class="row mt-3 ">
    <div class="media text-left">
      <img src="https://www.instituteofhypnotherapy.com/wp-content/uploads/2016/01/tutor-8.jpg" class="mr-3 img-fluid img-thumbnail" width="200">
      <div class="media-body">
        <h4 class="mt-3 mb-3">Jhon Doe</h4>
        <p>Post: <span> Traducteur junior </span></p>
        <p>Responsable: <span> Guillaume Desjardins </span></p>
        <p>Date d’arrivée dans l’entreprise : <span> 31/02/2018 </span></p>
      </div>
    </div>
  </div>

  <div class="row mt-3 text-center">
    <div class="buttons mx-auto">
      <button mat-raised-button (click)="downloadCV(employee.id)" >CV</button>
      <button mat-raised-button (click)="openPlanningDialog()">Planning</button>
      <button mat-raised-button (click)="openCreatePlanningDialog()">Planifier un entretien</button>
    </div>
  </div>

  <hr>
  <!-- start personal achievements -->
  <div class="mt-2">
    <div class="achievements row mb-5">
      <div class="col-xs-12 col-sm-4 text-center">
        <h4 class="text-primary mt-5">Entretiens</h4>
        <p>21/07/18 – Guillaume D.</p>
        <p>21/07/18 – Guillaume D.</p>
        <p>21/07/18 – Guillaume D.</p>
        <button  mat-raised-button (click)="openListEntretientDialog()">Tous les entretiens</button>
      </div>
      <div class="col-xs-12 col-sm-3 text-center">
        <h4 class="text-primary mt-5">Évaluations</h4>
        <p>15/09/18 – QA 74,5</p>
        <p>07/09/18 – Relecture 90,4</p>
        <p>04/09/18 – Relecture 85,3</p>
        <button  mat-raised-button (click)="openListEvaluationDialog()">Tous les entretiens</button>
      </div>
      <div class="col-xs-12 col-sm-3 text-center">
        <h4 class="text-primary mt-5">Projets</h4>
        <p>22/09/18 18h30 – Phonak – TRA 430 mots</p>
        <p>22/09/18 17h – Siemens AG – REL 6600 mots</p>
        <p>21/09/18 15h – AWS – POST 15500 mots</p>
        <button  mat-raised-button (click)="openListProjectDialog()">Tous les entretiens</button>
      </div>
    </div>
  </div>
  <hr>
  <!-- End personal achievements-->

  <!-- remaks -->
  <div class="row">
    <div class="col-12">
      <h5 class="text-primary m-3">Remarques générales</h5>
    </div>
    <div class="col-12">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, non.
        </li>
        <li class="list-group-item">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut distinctio facere impedit consectetur est optio dolore asperiores, modi reiciendis odit.
        </li>
        <li class="list-group-item">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, nostrum culpa.
        </li>
        <li class="list-group-item">Porta ac consectetur ac</li>
      </ul>
    </div>
    <div class="col-12">
      <button  mat-raised-button (click)="openListRemarquetDialog()">Ajouter ou supprimer des remarques</button>
    </div>
  </div>
  <!-- End remarks -->

  <!--statistiques-->
  <div class="row">
    <div class="col-12">
      <h5 class="text-primary m-3">Statistiques</h5>
    </div>
    <div class="col-12 row ml-2">
      <button mat-raised-button (click)="changeStatisticLang('ENFR')">EN-FR</button>
      <button mat-raised-button (click)="changeStatisticLang('ESFR')">ES-FR</button>
      <button mat-raised-button >DE-FR</button>
      <button mat-raised-button >Tout</button>
    </div>
    <div class="col-12 row">
      <div class="table-responsive">
        <table class="table mt-3">
          <tr>
            <th></th>
            <th>Traduction</th>
            <th>Post-édition</th>
            <th>Relecture</th>
            <th>QA</th>
          </tr>
          <tr>
            <th>Productivité globale</th>
            <td>{{ statistics.p_global.tradiction }}</td>
            <td>{{ statistics.p_global.postEdition }}</td>
            <td>{{ statistics.p_global.relecture }}</td>
            <td>{{ statistics.p_global.qa }}</td>
          </tr>
          <tr>
            <th>Productivité 30 derniers jours</th>
            <td>{{ statistics.p_30.tradiction }}</td>
            <td>{{ statistics.p_30.postEdition }}</td>
            <td>{{ statistics.p_30.relecture }}</td>
            <td>{{ statistics.p_30.qa }}</td>
          </tr>
          <tr>
            <th>Note globale</th>
            <td>{{ statistics.note_g.tradiction }}</td>
            <td>{{ statistics.note_g.postEdition }}</td>
          </tr>
          <tr>
            <th>Note 30 derniers jours</th>
            <td>{{ statistics.note_30.tradiction }}</td>
            <td>{{ statistics.note_30.postEdition }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <button (click)="captureScreen()" mat-flat-button color="primary" class="mt-3 mb-3">Print this page</button>

</div>
</div>
