button[mat-raised-button] {
  margin-right: .3em;
  color: #000;
  background-color: #FFFFFF;
  z-index: auto;
}

@media (max-width: 600px) {
  h4 {
    font-size: 1.2em;
  }
  h4[_ngcontent-c8] {
    font-size: 1.1em;
    margin-bottom: 1em;
  }
  p, li, th, td {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: .7em;
  }
}

@media print {
  button {
    display: none;
  }
  h4[_ngcontent-c8] {
    margin-bottom: 0;
    margin-top: 0 !important;
  }
}
