<h2 mat-dialog-title>modifier client</h2>
<form>

  <div class="title">
    <h3>Informations personnelle</h3>
  </div>

  <div class="control-group">
    <mat-form-field>
      <mat-select placeholder="Branch">
        <mat-option *ngFor="let branch of branches" [value]="branch">
          {{ branch }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Adresse">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Ville">
    </mat-form-field>
  </div>

  <div class="contol-group">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Code postal ">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Etat">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Pays">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Devises" multiple>
        <mat-option *ngFor="let devise of devises" [value]="devise">{{devise}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="control-group">
    <mat-form-field>
      <mat-select placeholder="Comptes" multiple>
        <mat-option *ngFor="let devise of devises" [value]="devise">{{devise}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Contacts" multiple>
        <mat-option *ngFor="let devise of devises" [value]="devise">{{devise}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Filiales" multiple>
        <mat-option *ngFor="let devise of devises" [value]="devise">{{devise}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="title">
    <h3>Modalites de paiement & factures</h3>
  </div>

  <div class="control-group">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Minimimum fee: 0.14">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="A notre charge">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="selectionner delais">
        <mat-option *ngFor="let jour of jours" [value]="jour">
          {{ jour }} jour(s)
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="control-group">
    <mat-form-field>
      <mat-select placeholder="selectionner une Regle" >
        <mat-option [value]="1">Regle 1</mat-option>
        <mat-option [value]="2">Regle 2</mat-option>
        <mat-option [value]="3">Regle 3</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-raised-button color="warn" mat-dialog-close class="mr-3">Annuler</button>
    <button mat-raised-button color="primary" >Modifier</button>
  </div>
</form>
