.path {
  background-color: #F3F2F4;
  color: #242424;
  padding:2%;
}

.container{
  .box {
    box-shadow: 0 1px 3px;
    height: 100%;
    width: 100%;
  }
}

ul {
  li {
    display: inline-block;

    a {
      display: block;
      height:100%;
      width:100%;
      padding:10px;
      color: #425C75;
      border-right: 1px solid darkslategrey;
      background-color: #DBDBDB;
      &:hover {
        text-decoration: none;
        background: lightgray;
      }
      &.active {
        background: #425C75;
        color: #DBDBDB;
      }
    }
  }
  div {
    background: #425C75;
    padding:10px;
    color: #DBDBDB;
  }
}
