* {
  font-size: 98;
}
td,th {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1.5em;
}

.mat-form-field-infix {
  border-top: 0 !important;
}

.title {
  margin: 3em 0 !important;
}

p {
  line-height: 2em;
}

table {
  margin: 3em 0;
}

#table2 {
  margin-bottom: 0;
}

mat-form-field {
  &.area {
    height: 150px !important;
  }
  textarea {
    height: 150px;
  }
}
mat-form-field[_ngcontent-c8] textarea[_ngcontent-c8] {
  height: 122px;
}

.mat-form-field {
  width: 100%;
}

@media print {
  input, textarea, button {
    display: none !important;
  }
  * {
    font-size: 95% !important;
  }
}


//Animations

@keyframes yourAnimation{
  0%{
    transform: translateY(-10%);
  }
}

.row{
  animation: yourAnimation .5s forwards 0s linear;
}
