<div class="container">
<div id="content">
  <div class="row mt-3">
    <div class="col">
      <h4 class="text-center m-3 title">Fiche d’entretien</h4>
    </div>
  </div>

  <div class="row">

    <div class="col-6">
      <p>Salarié: <span class="text-secondary">Truc</span></p>
      <p>Responsable: <span class="text-secondary">Machin</span></p>
    </div>

    <div class="col-6">
      <p>Poste: <span class="text-secondary">Traducteur</span></p>
      <p>Date de l’entretien: <span class="text-secondary">21/09/18</span></p>
    </div>

  </div> <!-- end row -->

  <div class="row mt-3">
    <div class="col-8">
      <p>Notes sur le dernier entretien :</p>
    </div>
    <div class="col-4">
      <button mat-flat-button color="primary" *ngIf="!dataExists">Enregistrer</button>
      <button mat-flat-button color="accent" *ngIf="dataExists">Modifier</button>
    </div>
  </div>

  <!-- start tables-->
  <div class="row">

    <!--table 1-->
    <div class="col-12 container-fluid">
      <div class=" ">


        <table class="table" id="table1">

          <tr>
            <th></th>
            <th>Productivité</th>
            <th>Qualité</th>
            <th>Observations</th>
            <th>Action</th>
          </tr>

          <tr>
            <td>EN-FR</td>
            <td>Globale : XXX mots/h</td>
            <td>Globale : XXX</td>
            <td>
              <mat-form-field *ngIf="!dataExists">
                <input matInput placeholder="" [(ngModel)]="table1Info.global.observations" name="observations">
              </mat-form-field>
              <p *ngIf="dataExists">{{ table1Info.global.observations }}</p>
            </td>
            <td>
              <mat-form-field *ngIf="!dataExists">
                <input matInput placeholder="" [(ngModel)]="table1Info.global.action" name="action">
              </mat-form-field>
              <p *ngIf="dataExists">{{ table1Info.global.action }}</p>
            </td>
          </tr>

          <tr>
            <td></td>
            <td>30 derniers jours : XXX mots/h</td>
            <td>30 derniers jours : XXX</td>
            <td>
              <mat-form-field *ngIf="!dataExists">
                <input matInput placeholder="" [(ngModel)]="table1Info.last30.observations" name="observations">
              </mat-form-field>
              <p *ngIf="dataExists">{{ table1Info.last30.observations }}</p>
            </td>
            <td>
              <mat-form-field *ngIf="!dataExists">
                <input matInput placeholder="" [(ngModel)]="table1Info.last30.observations" name="observations">
              </mat-form-field>
              <p *ngIf="dataExists">{{ table1Info.last30.observations }}</p>
            </td>
          </tr>

        </table>


      </div>
    </div>
    <!--table 2-->
    <div class="col-12 container-fluid">
      <div class="">


        <table class="table" id="table2">

          <tr>
            <th>Point à améliorer</th>
            <th>Importance</th>
            <th>Observations</th>
            <th>Action</th>
          </tr>

          <tr *ngFor="let data of table2Info" >
            <td>
              <p>{{ data.point }}</p>
            </td>
            <td>
              <p>{{ data.importance }}</p>
            </td>
            <td>
              <p>{{ data.observation }}</p>
            </td>
            <td>
              <p>{{ data.action }}</p>
            </td>
          </tr>

        </table>

      </div>
      <form class="form-table2 row container-fluid" #formTable2="ngForm" (ngSubmit)="addInfoTable2(formTable2)">
        <mat-form-field class="col">
          <input matInput placeholder=""  name="point" ngModel required>
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput placeholder=""  name="importance" ngModel>
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput placeholder="" name="observation" ngModel>
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput placeholder="" name="action" ngModel>
        </mat-form-field>
        <div class="col">
          <button type="submit" mat-flat-button color="primary">Ajouter</button>
        </div>
      </form>
    </div>

    <!--table 3-->
    <div class="col-12 mt-3 container-fluid">
      <div class="">


        <table class="table" id="table3">

          <tr>
            <th>Acquis</th>
            <th>Observations</th>
          </tr>

          <tr>
            <td>
              <mat-form-field class="area">
                <textarea matInput placeholder=""></textarea>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="area">
                <textarea matInput placeholder=""></textarea>
              </mat-form-field>
            </td>
          </tr>

        </table>


      </div>
    </div>

  </div>
</div>
  <button (click)="captureScreen()" mat-flat-button color="primary" class="mt-3 mb-3">Print this page</button>

</div>
