table {
  width: 95%;
  margin: auto;
}

th.mat-header-cell {
  text-align: left;
  font-size: .9em;
  font-weight: bold;
  color: black;
}

.filter-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 95%;
  margin:auto;
  text-align: center;
  padding: 0 10%;
}

.mat-option-text  {
  text-align: center;
}
