<div class="filter-container">
  <app-filter-form-by-freelance class="mr-4"></app-filter-form-by-freelance>

  <mat-form-field class="mr-4">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="sélectionner des colonnes"  multiple #cols (selectionChange)="selectCols(cols)">
      <mat-option *ngFor="let column of columnsSelect" [value]="column.name" >{{column.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

  <ng-container matColumnDef="fullname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fullname </th>
    <td mat-cell *matCellDef="let element"> {{ element.first_name }}  {{ element.last_name }} </td>
  </ng-container>

  <ng-container matColumnDef="filiale">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> filiale </th>
    <td mat-cell *matCellDef="let element"> {{element.filiale}} </td>
  </ng-container>

  <ng-container matColumnDef="ville">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ville </th>
    <td mat-cell *matCellDef="let element"> {{element.ville}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="tel">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> tel. </th>
    <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
  </ng-container>

  <ng-container matColumnDef="col1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> col1 </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="col2">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> col2 </th>
    <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button (click)="consulterDialog()">
       <mat-icon>chat</mat-icon> Consulter
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
