<mat-form-field >
  <mat-select placeholder="type de freelance" name="type" [(ngModel)]="typeFreelance" (ngModelChange)="filterValueChanged()">
    <mat-option *ngFor="let type of ['type1', 'type2', 'type3']" [value]="type" >
      {{type}}
    </mat-option>
  </mat-select>
</mat-form-field>
