<div class="global-filter">

  <app-freelance-filter-form></app-freelance-filter-form>

</div>

<div class="dt-filter">
  <mat-form-field class="mr-4">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="sélectionner des colonnes"  multiple #cols (selectionChange)="selectCols(cols)">
      <mat-option *ngFor="let column of columnsSelect" [value]="column.name" >{{column.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

  <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. paiement </th>
    <td mat-cell *matCellDef="let element"> {{ element.no }}   </td>
  </ng-container>

  <ng-container matColumnDef="factures">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Factures </th>
    <td mat-cell *matCellDef="let element">
      <span *ngFor="let item of element.factures"> {{ item.code }} </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
  </ng-container>

  <ng-container matColumnDef="montant">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Montant </th>
    <td mat-cell *matCellDef="let element"> {{element.montant}} </td>
  </ng-container>

  <ng-container matColumnDef="freelancer">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Freelancer. </th>
    <td mat-cell *matCellDef="let element"> {{element.freelancer}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <ng-container matColumnDef="col1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> col1 </th>
    <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
  </ng-container>

  <ng-container matColumnDef="col2">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> col2 </th>
    <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field>
        <mat-select placeholder="Action">
          <mat-option (click)="modifierDialog()">
            <mat-icon>edit</mat-icon> Modifier
          </mat-option>
          <mat-option (click)="telechargerDialog()">
            <mat-icon>cloud_download</mat-icon> Telecharger
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
