table {
  width: 95%;
  margin: auto;
}

th.mat-header-cell {
  text-align: left;
  font-size: .9em;
  font-weight: bold;
  color: black;
}

.dt-filter {
  text-align: center;
}

.global-filter {
  text-align: center;
}
