<div class="row">
  <app-filter-form (clientEvent)="filterTable($event)"></app-filter-form>
</div>
<mat-form-field class="col-md-4 col-xs-12 offset-md-4">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche">
</mat-form-field>

<mat-form-field *ngIf="!showProfile">
  <mat-select placeholder="sélectionner des colonnes"  multiple #cols (selectionChange)="selectCols(cols)">
    <mat-option *ngFor="let column of columnsSelect" [value]="column.name" >{{column.name}}</mat-option>
  </mat-select>
</mat-form-field>

<div class="row">

  <div [className]="showProfile ? 'col-3' : 'offset-1 col-10'" >

    <table mat-table  [dataSource]="dataSource" class="mat-elevation-z8" matSort >

      <ng-container matColumnDef="name" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
        <td mat-cell *matCellDef="let element"
            (dblclick)="selectClient(element.CLIENT_ID)"
            [className]="element.CLIENT_ID === clientId ? 'mat-cell cdk-column-CLIENT_NAME mat-column-CLIENT_NAME ng-star-inserted selected' : 'mat-cell cdk-column-CLIENT_NAME mat-column-CLIENT_NAME ng-star-inserted'">
          {{element.CLIENT_NAME }}
        </td>
      </ng-container>

      <ng-container matColumnDef="currency">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Monnaies </th>
        <td mat-cell *matCellDef="let element">
          <p *ngFor="let el of element.CURRENCIES">{{el.CURRENCY_NAME}}</p>
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CITY </th>
        <td mat-cell *matCellDef="let element"> {{element.CITY}} </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ZIPE_CODE </th>
        <td mat-cell *matCellDef="let element"> {{element.ZIPE_CODE}} </td>
      </ng-container>

      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> COUNTRY </th>
        <td mat-cell *matCellDef="let element"> {{element.COUNTRY}} </td>
      </ng-container>

      <ng-container matColumnDef="col1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Col1 </th>
        <td mat-cell *matCellDef="let element"> {{element.CLIENT_NAME}} </td>
      </ng-container>

      <ng-container matColumnDef="col2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Col2 </th>
        <td mat-cell *matCellDef="let element"> {{element.CITY}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="nav-container">
      <mat-paginator [pageSizeOptions]="[10, 15, 20, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>

  </div>


  <div class="col-8" *ngIf="showProfile">
    <app-client-profile (closeProfile)="unselectClient()"  ></app-client-profile>
  </div> <!-- end col-8 (profile) -->

</div>

<section class="loading row">
  <mat-spinner *ngIf="isLoading" class="offset-md-4 offset-sm-3"></mat-spinner>
</section>
