<mat-sidenav-container  class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [opened]="false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <img src="http://twork1.trans4europe.com/static/profiles/img/user_default.jpg" alt="">
      <p>
        <b>Jhon doe</b>
      </p>
      <a  routerLink='/employee' (click)="drawer.close()" class="timer-container">
        <mat-icon class="timer">timer</mat-icon>
      </a>
      <a mat-list-item href='http://twork1.trans4europe.com/sg/accounts/' (click)="drawer.close()">Home</a>
      <a mat-list-item routerLink='/employee' (click)="drawer.close()">Employés</a>

      <a mat-list-item  [matMenuTriggerFor]="facturation">
        Facturation <mat-icon>keyboard_arrow_down</mat-icon>
      </a>
      <mat-menu #facturation="matMenu">
        <a routerLink='/po&facture/client/clients' (click)="drawer.close()" mat-menu-item>Client</a>
        <a routerLink='/po&facture/freelance/freelancer' (click)="drawer.close()" mat-menu-item>Freelance</a>
      </mat-menu>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>frontend4orient</span>
    </mat-toolbar>

    <ng-content></ng-content>

  </mat-sidenav-content>

</mat-sidenav-container>