.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 230px;
}

p {
  text-align: center;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
}

.mat-drawer-container {
  background: #FFFFFF !important;
  color: black;
}

img {
  vertical-align: middle;
  border-style: none;
  height: 100px;
  border-radius: 50%;
  margin: 2% auto;
  display: block;
}

.timer-container {
  display: block;
  margin: 10% 34%;
  .timer {
    font-size: 1em;
    display: block;
  }
}
.timer-container[_ngcontent-c1] .timer[_ngcontent-c1] {
  font-size: 3.5em;
  display: block;
  &:hover {
    color: #3F51B5;
  }
}

a {
  mat-icon {
    margin-left: 5%;
  }
}
