<mat-icon id="delete" matTooltip="Supprimer le contact" (click)="deleteContact()">delete</mat-icon>

<div class="profile">

  <form>

    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Nom" [value]="contact?.title">
      </mat-form-field>

      <mat-form-field >
        <input matInput placeholder="Email" [value]="contact?.mail">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field >
        <input matInput placeholder="Fax" [value]="contact?.fax">
      </mat-form-field>

      <mat-form-field >
        <input matInput placeholder="Phone" [value]="contact?.phone">
      </mat-form-field>
    </div>


  </form>
</div>
