@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.profile {
  margin-top: 5%;
  animation: .3s ease-out 0s 1 slideInFromLeft;
  box-shadow: 4px 4px 7px lightgrey;
}

#delete {
  position: absolute;
  right: 3%;
  top: 3%;
  padding:1%;
  color: red;
  &:hover {
    cursor: pointer;
  }
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;

  mat-form-field {
    margin: 0 5px;
    input {
      margin: 5px;
    }
  }
  button{
    height: 45px;
  }
}
