<form [formGroup]="filterForm">

  <mat-form-field>
    <mat-select placeholder="Project" formControlName="project" (selectionChange)="selectChange()">
      <mat-option value="{{item}}" *ngFor="let item of ['project1', 'project2', 'project3']">
        {{ item }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="datedebut" placeholder="Date debut" formControlName="dateDebut" (ngModelChange)="selectChange()">
    <mat-datepicker-toggle matSuffix [for]="datedebut"></mat-datepicker-toggle>
    <mat-datepicker #datedebut></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="datefin" placeholder="Date fin" formControlName="dateFin" (ngModelChange)="selectChange()">
    <mat-datepicker-toggle matSuffix [for]="datefin"></mat-datepicker-toggle>
    <mat-datepicker #datefin></mat-datepicker>
  </mat-form-field>

</form>
