<div class="row">
    <app-filter-form-short></app-filter-form-short>
</div>
<mat-form-field class="col-md-4 col-xs-12 offset-md-4">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche">
</mat-form-field>


<div class="row">

  <div [className]="editing ? 'col-3' : 'col-12'">
    <table mat-table  [dataSource]="dataSource" matSort  class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name. </th>
        <td mat-cell *matCellDef="let element" (dblclick)="editContact(element.id)"> {{element.TITLE}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.MAIL}} </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
        <td mat-cell *matCellDef="let element"> {{element.PHONE}} </td>
      </ng-container>

      <ng-container matColumnDef="fax">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fax </th>
        <td mat-cell *matCellDef="let element"> {{element.FAX}} </td>
      </ng-container>

      <ng-container matColumnDef="account">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Compte </th>
        <td mat-cell *matCellDef="let element"> {{element.ACCOUNT}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="nav-container">
      <mat-paginator [pageSizeOptions]="[10, 15, 20, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div> <!-- end table ontaner -->

  <div class="col-9" *ngIf="editing">
    <app-contact-profile [contactId]="idContant" ></app-contact-profile>
  </div>

</div>
