<div class="container">
  <h1>
    <a routerLink='/employee/profile/1'>voir exemple de profil</a>
  </h1>
  <h1>
    <a routerLink='/employee/fiche/1'>voir exemple de fiche d'entretien</a>
  </h1>
</div>
