<form #form="ngForm">
  <p>
    {{form.value | json}}
  </p>

  <mat-form-field >
    <mat-select placeholder="Filiale" name="filiale" [(ngModel)]="form.filiale" (ngModelChange)="filterValueChanged('filiale', $event)">
      <mat-option *ngFor="let filiale of ['filiale1', 'filiale2', 'filiale3']" [value]="filiale" >
        {{filiale}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Compte" name="compte" [(ngModel)]="form.compte" (ngModelChange)="filterValueChanged('compte', $event)">
      <mat-option *ngFor="let filiale of ['compte1', 'compte2', 'compte3']" [value]="filiale">
        {{filiale}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</form>
