<div class="row">
  <app-filter-form></app-filter-form>
</div>
<mat-form-field class="col-md-4 col-xs-12 offset-md-4">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche">
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="sélectionner des colonnes"  multiple #cols (selectionChange)="selectCols(cols)">
    <mat-option *ngFor="let column of columnsSelect" [value]="column.name" >{{column.name}}</mat-option>
  </mat-select>
</mat-form-field>


<table mat-table  [dataSource]="dataSource" matSort  class="mat-elevation-z8">

  <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> No Facture. </th>
    <td mat-cell *matCellDef="let element"> {{element.no}} </td>
  </ng-container>

  <ng-container matColumnDef="clijob">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> CliJob </th>
    <td mat-cell *matCellDef="let element"> {{element.clijob.code}} </td>
  </ng-container>

  <ng-container matColumnDef="montant">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Montant </th>
    <td mat-cell *matCellDef="let element"> {{element.montant}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date | date }} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.volume }} </td>
  </ng-container>

  <ng-container matColumnDef="col1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> col 1 </th>
    <td mat-cell *matCellDef="let element"> {{element.volume}} </td>
  </ng-container>

  <ng-container matColumnDef="col2">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> col 2 </th>
    <td mat-cell *matCellDef="let element"> {{element.date_creation}} </td>
  </ng-container>

  <ng-container matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field>
        <mat-select placeholder="Actions">
          <mat-option (click)="visualiserDialog()">
            <mat-icon>remove_red_eye</mat-icon> Visualiser
          </mat-option>
          <mat-option (click)="modifierDialog()">
            <mat-icon >edit</mat-icon> Modifier
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="nav-container">
  <mat-paginator [pageSizeOptions]="[10, 15, 20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
