.profile-info {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 1%;
  padding: 1%;
  .info {
    margin-bottom: 2.5px;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.profile {
  animation: .3s ease-out 0s 1 slideInFromLeft;
  box-shadow: 1px 3px 5px black;
  position: relative;
  .close {
    position: absolute;
    right: 1%;
    top:.5%;
    z-index: 1;
  }
}

.info {
  display: grid;
  grid-template-columns: 50% 1fr;
}
