<div class="row profile ">
  <div class="close" (click)="closeProfileEvent()" >
    <button mat-icon-button >
      <mat-icon aria-label="Fermer" color="accent" matTooltip="fermer et désélectionner">close</mat-icon>
    </button>
  </div>
  <div class="actions">
    <button mat-raised-button color="primary" class="m-1" (click)="isEditing = true" *ngIf="!isEditing">Edit</button>
    <button mat-raised-button color="accent" class="m-1" (click)="isEditing = false" *ngIf="isEditing">Annuler</button>
  </div>
  <div class="col-md-12 profile-info">
    <form [formGroup]="profileForm" (ngSubmit)="updateClient()">


      <div class="info">
        <span> <b>Nom:</b> </span>
        <p  *ngIf="!isEditing">{{ client?.CLIENT_NAME }}</p>
        <mat-form-field *ngIf="isEditing">
          <input matInput placeholder="Nom" value="{{ client?.CLIENT_NAME }}" FormControlName="name">
        </mat-form-field>
      </div>

      <hr>

      <div class="info">
        <span> <b>Adresse:</b> </span>
        <p  *ngIf="!isEditing">
          {{ client?.STREET1 }}, {{ client?.STREET2 }}
        </p>
        <div formGroupName="adresse" *ngIf="isEditing">
          <mat-form-field class="mr-3">
            <textarea matInput cols="40" rows="2" placeholder="Adresse 1" value="{{ client?.STREET1 }}"></textarea>
          </mat-form-field>

          <mat-form-field>
            <textarea matInput cols="40" rows="2" placeholder="Adresse 2" value="{{ client?.STREET2 }}"></textarea>
          </mat-form-field>
        </div>
      </div>

      <hr>

      <div class="info">
        <span> <b>Ville:</b> </span>
        <p  *ngIf="!isEditing">{{ client?.city }}</p>
        <mat-form-field *ngIf="isEditing">
          <input matInput placeholder="Ville" value="{{ client.city }}" FormControlName="city">
        </mat-form-field>
      </div>

      <hr>

      <div class="info">
        <span> <b>Contact info:</b> </span>
        <div  *ngIf="!isEditing">
          <p>Email: {{ client?.EMAIL1 }}</p>
          <p>Phone: {{ client?.PHONE1 }}</p>
        </div>
        <div formGroupName="contactInfo" *ngIf="isEditing">
          <mat-form-field>
            <input matInput placeholder="Email" value="{{ client?.EMAIL1 }}" FormControlName="email">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Phone" value="{{ client?.PHONE1 }}" FormControlName="phone">
          </mat-form-field>
        </div>
      </div>

      <div class="info">
        <span> <b>Client cat:</b> </span>
        <div *ngIf="!isEditing">
          <p> {{ client?.CLIENT_CATS }} </p>
        </div>

        <div formGroupName="contactInfo" *ngIf="isEditing">
            <mat-form-field>
              <mat-select placeholder="Client cat">
                <mat-option *ngFor="let cat of ['CAT1', 'CAT2', 'CAT3', 'CAT4']" [value]="1" FormControlName="cats">
                  {{ cat }}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>

      </div>


      <div class="info">
        <span> <b>Branch:</b> </span>
        <div *ngIf="!isEditing">
          <p> {{ client?.BRANCH?.BRANCH_NAME }} </p>
        </div>

        <div formGroupName="contactInfo" *ngIf="isEditing">
            <mat-form-field>
              <mat-select placeholder="Branch" [(value)]="selectedOptions.branch">
                <mat-option *ngFor="let branch of branches" [value]="branch.BRANCH">
                  {{ branch.BRANCH_NAME }}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
      </div>


      <div class="info">
        <span> <b>Currency:</b> </span>
        <div *ngIf="!isEditing">
          <p *ngFor="let curr of client?.CURRENCIES"> {{curr.CURRENCY_NAME}},  </p>
        </div>

        <div formGroupName="contactInfo" *ngIf="isEditing">
          <mat-form-field>
            <mat-select placeholder="Currency">
              <mat-option *ngFor="let curr of currencies" [value]="curr.id">
                {{ curr?.CURRENCY_NAME }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>


      <div class="info">
        <span> <b>Branches:</b> </span>
        <div *ngIf="!isEditing">
          <p *ngFor="let branch of client?.branches"> {{branch.name}},  </p>
        </div>

        <div formGroupName="contactInfo" *ngIf="isEditing">
          <mat-form-field>
            <mat-select placeholder="Branches" FormControlName="branches ">
              <mat-option *ngFor="let br of client?.branches" [value]="br.id">
                {{ br.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <button mat-raised-button color="primary" *ngIf="isEditing" (click)="editClient()">Modifier</button>

    </form>
  </div>

</div>
