.path {
  color: #ffffff;
  padding:2%;
  background: #5C6BC0;
}

.container{
  .box {
    box-shadow: 0 1px 3px;
    height: 100%;
    width: 100%;
  }
}

ul {
  width:90%;
  margin:auto;
  //display: grid;
  //grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  li {
    display: inline-block;
    //box-shadow: 9px 7px 10px -5px rgba(0,0,0,0.45);
    width:200px;
    a {
      display: block;
      height:100%;
      width:100%;
      padding:10px;
      color: #425C75;
      border-right: 1px solid darkslategrey;
      border-bottom: .3px solid darkslategrey;
      -webkit-transition: .3s;
      transition:  .3s;
      &:hover {
        text-decoration: none;
        background: lightgray;
      }
      &.active {
        border-bottom:4px solid #3F51B5;
        border-right:2px solid #283593;
        //background: linear-gradient(to right, rgba(197,255,36,1) 0%, rgba(124,227,28,1) 59%, rgba(124,227,28,1) 100%);
        //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5ff24', endColorstr='#7ce31c', GradientType=1 );
      }
    }
  }
  //div {
  //  background: #3F51B5;
  //  padding:10px;
  //  color: #DBDBDB;
  //}
}

.disabled {
  color: currentColor;
  
  opacity: 0.5;
  text-decoration: none;
  &:hover{
    cursor: not-allowed;
  }
}

.nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 5px;
  margin: 2% auto;
  background-color: #F5F5F5;
  padding: .5%;
  width: 75vw;
  a {
    width: 100% !important;
    &:hover {
      text-decoration: none;
      background: lightgray;
      color: black;
    }
    &.active {
      background: #C5CAE9;
      
    }
  }
}