<div class="path">
  <h2>Clients</h2>
  <p>Clients / Clients</p>
</div>

<div class="container-fluid mt-2">
  <div class="box">

    <div class="nav" [hidden]="type === 'fre'">
      <a routerLink="client/clients" routerLinkActive="active" mat-raised-button>Clients</a>
      <a routerLink="client/contacts" routerLinkActive="active" mat-raised-button [disabled]="!disabled"
        [class.disabled]="!disabled">Contacts</a>
      <a routerLink="client/clijobs" routerLinkActive="active" mat-raised-button [disabled]="!disabled"
        [class.disabled]="!disabled">CliJobs</a>
      <a routerLink="client/quotes" routerLinkActive="active" mat-raised-button [disabled]="!disabled" [class.disabled]="!disabled">Citations</a>
      <a routerLink="client/statistics" routerLinkActive="active" mat-raised-button [disabled]="!disabled"
        [class.disabled]="!disabled">Statistiques</a>
      <a routerLink="client/invoicing" routerLinkActive="active" mat-raised-button [disabled]="!disabled"
        [class.disabled]="!disabled">Facturation(mp)</a>
      <a routerLink="client/facture_indeveduelles" routerLinkActive="active" mat-raised-button [disabled]="!disabled"
        [class.disabled]="!disabled">Factures indiciduelles</a>
      <a routerLink="client/facture_mensuelles" routerLinkActive="active" mat-raised-button [disabled]="!disabled"
        [class.disabled]="!disabled">Factures Mensuelles</a>
      <a routerLink="client/paiements" routerLinkActive="active" mat-raised-button [disabled]="!disabled"
        [class.disabled]="!disabled">Paiements</a>
    </div>

    <div class="nav" [hidden]="type === 'cli'">
      <a routerLink="freelance/freelancer" routerLinkActive="active" mat-raised-button>Freelancers</a>
      <a routerLink="freelance/freejobs" routerLinkActive="active" mat-raised-button>FreeJobs</a>
      <a routerLink="freelance/factures" routerLinkActive="active" mat-raised-button>Factures</a>
      <a routerLink="freelance/paiements" routerLinkActive="active" mat-raised-button>Paiements</a>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>