@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/media";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/tables";

//fonts
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
//end fonts


html, body{
  height: 100%;
  background-color: #FFFFFF !important;
}

body{
  margin:0;
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
}

td:hover {
  cursor: pointer;
}
