<div class="row">
  <app-filter-form></app-filter-form>
</div>
<mat-form-field class="col-md-4 col-xs-12 offset-md-4">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche">
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="sélectionner des colonnes"  multiple #cols (selectionChange)="selectCols(cols)">
    <mat-option *ngFor="let column of columnsSelect" [value]="column.name" >{{column.name}}</mat-option>
  </mat-select>
</mat-form-field>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.no}} </td>
  </ng-container>

  <ng-container matColumnDef="factures">
    <th mat-header-cell *matHeaderCellDef> Factures </th>
    <td mat-cell *matCellDef="let element">
      <span *ngFor="let fac of element.factures; let i = index">
        {{fac.no}}
        <span *ngIf="element.factures.length !== i+1">, </span>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="client">
    <th mat-header-cell *matHeaderCellDef> Client </th>
    <td mat-cell *matCellDef="let element"> {{element.client.CLIENT_NAME }} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date | date }} </td>
  </ng-container>

  <ng-container matColumnDef="montant">
    <th mat-header-cell *matHeaderCellDef> Montant </th>
    <td mat-cell *matCellDef="let element"> {{element.montant }} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status }} </td>
  </ng-container>

  <ng-container matColumnDef="col1">
    <th mat-header-cell *matHeaderCellDef> Col1 </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <ng-container matColumnDef="col2">
    <th mat-header-cell *matHeaderCellDef> Col2 </th>
    <td mat-cell *matCellDef="let element"> {{element.montant}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field>
        <mat-select placeholder="Action">
          <mat-option (click)="cloturerDialog()">
            <mat-icon>close</mat-icon> clôture
          </mat-option>
          <mat-option (click)="modifierDialog()">
            <mat-icon >edit</mat-icon> Modifier
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="nav-container">
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<button mat-fab color="primary" id="addfm" (click)="addPaiement()" ><mat-icon>add</mat-icon></button>
