<div class="global-filter">

  <app-freelance-filter-form></app-freelance-filter-form>

</div>

<div class="dt-filter">
  <mat-form-field class="mr-4">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="sélectionner des colonnes"  multiple #cols (selectionChange)="selectCols(cols)">
      <mat-option *ngFor="let column of columnsSelect" [value]="column.name" >{{column.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

  <ng-container matColumnDef="code_tache">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Code Tache </th>
    <td mat-cell *matCellDef="let element"> {{element.code_tache}} </td>
  </ng-container>

  <ng-container matColumnDef="intitule_tache">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Intitule tache </th>
    <td mat-cell *matCellDef="let element"> {{element.intitule_tache}} </td>
  </ng-container>

  <ng-container matColumnDef="service">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> service </th>
    <td mat-cell *matCellDef="let element"> {{element.service}} </td>
  </ng-container>

  <ng-container matColumnDef="paire_langue">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Paire langue </th>
    <td mat-cell *matCellDef="let element">
      <span *ngFor="let item of element.paire_langue; last as last"> {{item.name}} <b *ngIf="!last">-></b> </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="domaine">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Domaine </th>
    <td mat-cell *matCellDef="let element"> {{element.domaine}} </td>
  </ng-container>

  <ng-container matColumnDef="volume">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Volume </th>
    <td mat-cell *matCellDef="let element"> {{element.volume}} </td>
  </ng-container>

  <ng-container matColumnDef="volume_trite">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Volume traité  </th>
    <td mat-cell *matCellDef="let element"> {{element.volume_trite}} </td>
  </ng-container>

  <ng-container matColumnDef="date_debut">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date debut </th>
    <td mat-cell *matCellDef="let element"> {{element.date_debut}} </td>
  </ng-container>

  <ng-container matColumnDef="col1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> col1  </th>
    <td mat-cell *matCellDef="let element"> {{element.volume_trite}} </td>
  </ng-container>

  <ng-container matColumnDef="col2">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> col2 </th>
    <td mat-cell *matCellDef="let element"> {{element.date_debut}} </td>
  </ng-container>

  <ng-container matColumnDef="date_echeance">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date d'echance </th>
    <td mat-cell *matCellDef="let element"> {{element.date_echeance}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>


<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
